* {
    margin: 1;
    padding: 1;
    font-family: 'Roboto', sans-serif;
}

body{
    text-align: center;
    background-color: #dbe5fc;
}

main{
    align-content:space-around;
}


p{
    color: #141414;
    align-content: space-around;
    justify-content: center;
}

h1{
    color: #141414;
    justify-content: center;
}

h3{
    color: #141414;
}

#navbar {
    overflow: hidden;
    background-color: #333;
  }

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }

.content {
    padding: 16px;
  }

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

.sticky + .content {
    padding-top: 60px;
  }


.fa {
    padding: 15px 5px;
    font-size: 1.5rem !important;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }


.fa-facebook {
    background: #3B5998;
    color: white;
  }


.fa-twitter {
    background: #55ACEE;
    color: white;
  }


form {
    border: 4px solid #f1f1f1;
  }

.container1 {
    padding: 20px;
    background-color: #f1f1f1;
  }

input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

input[type=checkbox] {
    margin-top: 16px;
  }

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    border: none;
  }
  
input[type=submit]:hover {
    opacity: 0.8;
  }


.footer {
    position: fixed; /* i think do you not understand position property properly */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(195, 242, 255);
    color: white;
    text-align: center;
  }
/*
   ==================================
   [ I am Override your code, Dear! ]
   ==================================
*/

*
{
    margin: 0;
    padding: 0;
    font-family:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji";
    font-size:1rem;
    color:#2c3e50;
    text-decoration: none;
    border: none;
    outline: none;
    box-sizing: border-box;
}
body,
main
{
    width:100%;
    background:#fff;
    background:rgba(255,255,255,0.7) url('../media/bg1.jpg') fixed;
    background-size:contain;
    background-blend-mode:overlay;
}
#navbar
{
    display:flex;
    justify-content:center;
    position:fixed;
    z-index:5;
    top:0;
    left:0;
    right:0;
    width:100%;
    background:#0097e6;
}
#navbar a
{
    display:inline-block;
    padding:1rem 2rem;
    color:#000;
}
#navbar a:hover
{
    background:#00a8ff;
}

h1
{
    margin-top:10vh;
    padding:2rem;
    font-size:3rem;
    font-weight:normal;
}
/* row col section */

.row
{
    max-width:90%;
    margin:1rem auto;
    width:100% !important;
    display:grid;
    grid-template-columns:1fr 1fr;
    background:#f5f6fa;
    border:1px solid #c7ecee;
    border-radius:1rem;
    box-shadow:5px 5px 10px #34495e;
}
.col
{
    padding:1rem;
    text-align:left
}

/* ---------------- */
.image
{
    width:100%;
    height:100%;
    border-radius:10px;
}
h2
{
    font-size:2rem;
    font-weight:normal;
}
p
{
    padding:1rem 0;
    color:#535c68;
    line-height:2rem;
    font-size:1rem;
    font-weight:normal;
}
.btn
{
    display:inline-block;
    padding:0.5rem 1rem;
    margin:1rem 0;
    color:#00a8ff;
    border:1px solid #00a8ff;
}
.btn:hover
{
    color:#2c3e50;
    border:1px solid #34495e;
}
.Region,.Sobre-Nosotros
{
    padding-top:2rem;
}
section
{
    margin-top:10vh;
}
.lead
{
    margin:2rem 0;
    padding:1rem;
    line-height:2.5rem;
    font-size:1.5rem;
    font-weight:normal;
    color:#000;
    background:#fff7d0;
    /* background:#B3E0C2; */
    border:1px solid #ffbe76;
    border-radius:10px;
}
.fa-github
{
    background:#2f3640;
    color: #f5f6fa;
}
.fa-linkedin
{
    background: #3B5998;
    color: white;
}
.fa:hover
{
    opacity:0.7;
}

.Newsletter
{
    max-width:500px !important;
    margin:10vh auto;
}

footer
{
    background:#0097e6;
}
footer > div
{
    padding:1rem;
    font-size:1.2rem;
    color:#333 !important;
}
footer a
{
    display:inline-block;
    color:#000;
    font-size:1.2rem;
}
footer a:hover
{
    font-weight:bold;
}
/*
    the end ---------------------
*/
